h1{
    margin:auto;
}
#f{
    position: relative;
    background-color: white;
    opacity: 0.95;
    margin-right: 30vw;
    margin-top: 10vh;
    width: 40vw;
    border-radius: 5%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding:4vw;
}
